<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="tests" parallel="methods" thread-count="5">
    <test name="tests">
        <classes>
            <class name="com.mlb.seleniumtask.GmailTests"/>
            <class name="com.mlb.seleniumtask.EbayTests"/>
            <class name="com.mlb.seleniumtask.MLBTests"/>
        </classes>
    </test>
</suite>